<!doctype html>
<html ng-app="PaceChartCalculator">

<head>
	<title>Pace Chart Calculator</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
	<script src="js/pacecalculator.js"></script>
	<!-- Optional theme -->
	<link rel="stylesheet" href="less/styles.css" crossorigin="anonymous">

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<body>
		<div ng-controller="Pacecalculator" class="container">
		<div class="validationerror">*** experimental - trust the data at your peril  (v1.01) ***</div>
			<h1>Input parameters</h1>
			<form>
				<table>
					<tr>
						<td class="mainborder">Race name</td>
						<td class="subborder">
							<input class="inputlarge" type="text" ng-model="paceChartInput.raceName" maxlength="20" />
						</td>
						<td class="noborder" rowspan="8" width="50%">
							<div class="validationerror" >{{loadingmessage}}</div>
							<div class="criticalerror" >{{CriticalErrorMessage}}</div>
							<div ng-repeat="validationMessage in paceChart.validationErrorMessages">
								<div class="validationerror">{{validationMessage.messageDescription}}</div>
							</div>
			

						</td>
					</tr>
					<tr>
						<td class="mainborder">Distance</td>
						<td class="subborder">
							<input class="inputsmall" type="number" ng-model="paceChartInput.distance" min="1" max="99"/>
							<input type="submit" ng-click="createChartTemplate(paceChartInput.distance)" value="Set"/>
						</td>
					</tr>
					<tr>
						<td class="mainborder">First finish time<br/>(hh:mm:ss)</td>
						<td class="subborder">
							<input class="inputmedium" type="text" ng-model="paceChartInput.plannedRaceTimeFirst" pattern="[0-9]{2}:[0-9]{2}:[0-9]{2}"/>
						</td>
					</tr>
					<tr>
						<td class="mainborder">Last finish time<br/>(hh:mm:ss)</td>
						<td class="subborder">
							<input class="inputmedium" type="text" ng-model="paceChartInput.plannedRaceTimeLast"  pattern="[0-9]{2}:[0-9]{2}:[0-9]{2}"/>
						</td>
					</tr>
					<tr>
						<td class="mainborder">Time increment<br/>(hh:mm:ss)</td>
						<td class="subborder">
							<input class="inputmedium" type="text" ng-model="paceChartInput.plannedRaceTimeDelta"  pattern="[0-9]{2}:[0-9]{2}:[0-9]{2}"/>
						</td>
					</tr>
					<tr>
						<td class="mainborder">Start delay<br/>(hh:mm:ss)</td>
						<td class="subborder">
							<input class="inputmedium" type="text" ng-model="paceChartInput.startDelay"  pattern="[0-9]{2}:[0-9]{2}:[0-9]{2}"/>
						</td>
					</tr>
					<tr>
						<td class="mainborder">First fade %</td>
						<td class="subborder">
							<input class="inputsmall" type="number" ng-model="paceChartInput.firstFade" min="0" max="99"/>
						</td>
					</tr>
					<tr>
						<td class="mainborder">Last fade %</td>
						<td class="subborder">
							<input class="inputsmall" type="number" ng-model="paceChartInput.lastFade" min="0" max="99"/>
						</td>
					</tr>
				</table>
				<h1>Split data</h1>
				<table>
					<tr>
						<td class="subborder">Split</td>
						<td class="subborder">Elevation</td>
						<td class="subborder">Manual Weighting</td>
					</tr>
					<tr ng-repeat="elevation in paceChartInput.elevations">
						<td class="maindata">{{elevation.splitNumber}}</td>
						<td class="maindata">
							<input class="inputsmall" type="number" ng-model="elevation.elevation" min="-50" max="50"/>
						</td>
						<td class="maindata">
							<input class="inputmedium" type="number" ng-model="paceChartInput.manualWeightings[elevation.splitNumber-1].manualWeight"  min="-200" max="200" step="10"/>
						</td>
					</tr>

				</table>
				<input type="submit" ng-click="createChart()" value="Create charts" />
			</form>
			<h1>Pacecharts</h1>
			<div ng-repeat="paceChartInstance in paceChart.paceChartInstances">
				&nbsp;
				<br/>
				<table>
					<tr>
						<td colspan="2" class="mainborder">Distance and Race</td>
						<td colspan="2" class="subborder">{{paceChart.distance}}k - {{paceChart.raceName}}</td>
					</tr>
					<tr>
						<td colspan="2" class="mainborder">Time</td>
						<td colspan="2" class="subborder">{{paceChartInstance.plannedRaceTime}}</td>
					</tr>
					<tr>
						<td colspan="2" class="mainborder">Start Delay</td>
						<td colspan="2" class="subborder">{{paceChart.startDelay}}</td>
					</tr>
					<tr>
						<td colspan="2" class="mainborder">Fade</td>
						<td colspan="2" class="subborder">{{paceChartInstance.fade}} %</td>
					</tr>
					<tr>
						<td colspan="2" class="mainborder">Moving pace</td>
						<td colspan="2" class="subborder">{{paceChartInstance.averageMovingPace}}</td>
					</tr>
					<tr>
						<td colspan="2" class="mainborder">Average Pace</td>
						<td colspan="2" class="subborder">{{paceChartInstance.averageEndToEndPace}}</td>
					</tr>
					<tr>
						<td class="mainborder">Distance</td>
						<td class="mainborder">Split Time</td>
						<td class="mainborder">Total Time</td>
						<td class="mainborder">Elevation</td>
					</tr>
					<tr ng-repeat="split in paceChartInstance.raceSplits">
						<td class="mainborder number">{{split.totalDistance}}</td>
						<td class="maindata">{{split.finalTime}}</td>
						<td class="maindata">{{split.finalElapsedTime}}</td>
						<td class="maindata number">{{split.elevation}}</td>
					</tr>
				</table>
				&nbsp;
				<br/>
			</div>
		</div>
	</body>

</html>