body {
  font-size: 11px;
  font-family: Calibri, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h1 {
  font-size: 12pt;
}
table {
  border-collapse: collapse;
  border-spacing: 0px;
}
.inputsmall {
  width: 30px;
}
.inputmedium {
  width: 60px;
}
.inputlarge {
  width: 90px;
}
.baseborder,
.mainborder,
.noborder,
.subborder,
.maindata,
.maindatalight {
  font-size: 11px;
  font-family: Calibri, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  border: solid 1px;
  padding: 2px;
  vertical-align: top;
}
.mainborder {
  background-color: #c5d9ee;
}
.noborder {
  border: none;
}
.subborder {
  background-color: #fee9db;
}
.maindata {
  background-color: white;
}
.maindatalight {
  background-color: #e7eff8;
}
.number {
  text-align: right;
}
.criticalerror {
  background-color: red;
  font-size: 22px;
  color: white;
  text-align: center;
}
.validationerror {
  color: red;
  font-size: 13.2px;
  text-vertvertical-align: top;
}
.tooltip {
  position: relative;
  display: inline-block;
}
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
}
