body {
  font-size: 15px;
}
h1 {
  font-size: 25px;
}
h2 {
  font-size: 20px;
}
h3 {
  font-size: 15px;
}
.inputsmall {
  width: 40px;
}
.inputmedium {
  width: 80px;
}
.inputlarge {
  width: 120px;
}
.inputhuge {
  width: 210px;
}
.table {
  border: solid 2px;
}
.tableresults {
  font-size: 12px;
}
